@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #FAFAFA;
    background-image: url(./image/bg-image_deux-min.webp);
    background-size: max-width="1460px" height= "650px";
    background-repeat: no-repeat;
}

h1 {
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    margin: 48px 0;
    color: #A8FF35;
    background-color: rgba(0, 0, 0, 0.5);
}

/* ======================= section caroussel ================================ */

ul-top-categorie li{
    margin-right: 10px;
    visibility: visible;
}

.main-carousel{
    max-width: 1180px;
    margin: 0 auto;
}

.text-top-categorie{
    position: relative;
    bottom: 27px;
    text-align: center;
    background: #00000080;
    border-radius: 0px 0px 7px 7px;
    color: white;

}

.a{
    text-decoration: none;
}
/* ====================fin section caroussel ========================== */