@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #fafafa;
  background-image: url(./image/bg-image_deux-min.webp);
  background-size: 100% 650px;
  background-repeat: no-repeat;
}

h1 {
  font-size: 27px;
  font-weight: 700;
  text-align: center;
  margin: 48px 0;
  color: #a8ff35;
  background-color: rgba(0, 0, 0, 0.5);
  width: ;
}

/* ================ les select, apres le header============ */

.box-un {
  position: relative;
}

.select-categories {
  position: relative;
  background-color: #f4f6f7;
  width: 216px;
  height: 44px;
  padding: 0 25px 0 55px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px 0px 0px 5px;
  /* appearance: none; */
}

option {
  position: relative;
  left: 100px;
}

.option-categories {
  display: flex;
}

#bulleted {
  position: relative;
  bottom: 40px;
  left: 10px;
}

.container-categorie {
  position: relative;
  right: 46px;
  bottom: 5px;
}

.box-deux {
  position: relative;
  width: 1px;
  height: 44px;
  background: #8197b3;
  right: 46px;
  bottom: 5px;
}

/*        search bar and position bar       */

* {
  box-sizing: border-box;
}

.search-bar {
  position: relative;
  right: 46px;
  bottom: 5px;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 0px solid grey;
  width: 292px;
  height: 45px;
  background: #f4f6f7;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0px 5px 5px 0px;
}

form.example button {
  float: left;
  width: 50px;
  height: 45px;
  color: #a8b4c0;
  font-size: 17px;
  border: none;
  cursor: pointer;
  background: #f4f6f7;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

/*             place-marker         */

.place-marker {
  margin-left: 55px;
  position: relative;
  right: 46px;
  bottom: 5px;
  left: 33px;
}

.box-trois_quatre {
}

.box-quatre {
  width: 403px;
  margin-right: 0;
}

/* conteneur niveau deux de la section deux */

.container-section-deux {
  display: flex;
  justify-content: center;
  margin-top: 17px;
  height: 49px;
}

/* ======================= section caroussel ================================ */

ul-top-categorie li {
  margin-right: 10px;
  visibility: visible;
}

.main-carousel {
  max-width: 1180px;
  margin: 0 auto;
}

.text-top-categorie {
  position: relative;
  bottom: 27px;
  text-align: center;
  background: #00000080;
  border-radius: 0px 0px 7px 7px;
  color: white;
}

a {
  text-decoration: none;
  color: #ffffff;
}
/* ====================fin section caroussel ========================== */

/* ==============================section formulaire================================== */
.container-contactez-nous {
  max-width: 753px;
  height: 508px;
  background: #ffffff;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 0 28px;
  margin-bottom: 67px;
}

.contactez-nous-title_un {
  width: 229px;
  height: 23px;
  font-weight: 600;
  font-size: 17px;
  margin: 0 auto;
  padding-top: 50px;
}

.contactez-nous-title_deux {
  width: 271px;
  height: 48px;
  font-weight: 700;
  font-size: 35px;
  display: flex;
  align-items: center;
  color: #336699;
  position: relative;
  top: 23px;
  margin: 0 auto;
}

/*          formulaire         */

.container-formulaire {
  position: relative;
  top: 59px;
}

.form-nom_mail {
  display: flex;
  justify-content: space-between;
}

.field {
  position: relative;
  height: 80px;
  width: 305px;
  padding: 16px 0 8px 0;
  margin-bottom: 15px;
}

.field-trois {
  position: relative;
  height: 130px;
  width: 100%;
  padding: 16px 0 57px 0;
}

.field-label {
  position: relative;
  line-height: 16px;
  font-weight: 600;
  font-size: 15px;
  color: #a8b4c0;
  display: block;
  transform: translateY(24px);
}
.field-input {
  position: relative;
  display: block;
  width: 100%;
  padding: 8px 0;
  line-height: 16px;
  background: transparent;
  border: none;
  outline: none;
}
.field::after {
  content: "";
  height: 2px;
  width: 303px;
  position: absolute;
  bottom: 30px;
  background-color: #85b940;
}
.field-trois::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 30px;
  background-color: #85b940;
}
placeholder {
  position: relative;
  line-height: 16px;
  font-weight: 600;
  font-size: 15px;
  color: #a8b4c0;
  display: block;
  transform: translateY(24px);
}
.bouton-envoyer {
  position: relative;
  width: 154px;
  height: 46px;
  background: #85b940;
  border-radius: 6px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  top: 79px;
}
/* =======================media queries ========================= */
@media screen and (max-width: 680px) {
  .none {
    display: none;
  }
  .top-categorie {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 448px) {
  .none-footer {
    display: none;
  }
}
/* Separation du css et du html */
.big-search-bar {
  max-width: 1180px;
  padding: 0 65px;
}
.logo-assigame {
  height: 82px;
}
.texte-icone {
  vertical-align: inherit;
}
.add-annonce {
  background-color: #85b940;
}
.conteneur-categorie {
  top: 8px;
}
.conteneur-voir-egal {
  height: 30px;
}
.input-voir-egal {
  height: 26px;
}
.ctn-btn-chercher {
  width: 240px;
  top: 60px;
}
.btn-chercher {
  background-color: #85b940;
  width: 246px;
}
.ctn-top-categorie {
  max-width: 100%;
  margin-top: 100px;
}
.title-top-categorie {
  max-width: 1180px;
  font-size: 26px;
}
.ctn-communnaute {
  max-width: 1180px;
  font-size: 26px;
  font-weight: 600;
  margin-top: 2.25rem;
}
.color-communnaute {
  color: #336699;
}
.ctn-test {
  max-width: 1180px;
}
.ctn-texte {
  background: #fef0e9;
  border-radius: 8px;
  bottom: 230px;
  left: 4px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-align: justify;
  padding: 32px 64px 39px 38px;
}
.btn-texte {
  background-color: #85b940;
}
.image-texte {
  max-width: 100%;
  height: 229px;
}
.ctn-texte-assigme {
  margin-top: 4em;
  padding-bottom: 4em;
}
.ctn-avis {
  max-width: 1180px;
  background: rgba(51, 102, 153, 0.15);
  box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 25%);
  border-radius: 0px;
}
.title-avis {
  font-weight: 600;
  font-size: 36px;
  color: #336699;
  text-align: center;
  padding: 32px 0 17px 0;
}
.btn-donner-avis {
  position: relative;
  max-width: 236px;
  height: 37px;
  background: #85b940;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 25%);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 75%;
  bottom: 40px;
}
.color-avis {
  color: #fff;
}
.text-avis-pertinant {
  margin-left: 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  position: relative;
  bottom: 48px;
}
.bul-commentaire {
  bottom: 25px;
}
.img-commntaire {
  max-width: 500px;
}
.btn-lire-avis {
  font-weight: 700;
  font-size: 17px;
  color: #ed3b3b;
}
.ctn-nos-partenaire {
  max-width: 1180px;
}
.title-nos-partenaire {
  color: #336699;
}
.ctn-maps {
  max-width: 1180px;
}
.ctn-deux-maps {
  width: 100%;
  height: 511px;
  background: #ffffff;
  box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 25%);
}
.title-deux-maps {
  color: #336699;
  padding: 57px 0 54px 0;
}
.ctn-trois-maps{
  max-width: 300px;
}
.ctn-footer{
  background-color: #336699;
}
.ctn-deux-footer{
  max-width: 1180px;
}
.ctn-trois-footer{
  color: #fff;
}
.ctn-date-debut{
  color: white;
}
.retrouver-ns-sur{
  color: #fff;
}
.